<div class="container">
  <div style="display: flex; gap: 20px">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="search" />
    </mat-form-field>
    <mat-form-field>
      <mat-select
        (selectionChange)="sortProducts($event.value)"
        placeholder="Sort"
      >
        <mat-option value="priceLowHigh">Price:Low To High</mat-option>
        <mat-option value="priceHighLow">Price High To Low</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- <mat-form-field>
    <mat-label>Select</mat-label>
 
  </mat-form-field> -->
  <!-- <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea></mat-form-field -->
  <br />
  <div class="product-card">
    <div *ngFor="let product of filteredProducts">
      <mat-card
        class="animal-card"
        appearance="outlined"
        (click)="addToCart(product)"
      >
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            {{ product.name }}
          </p>
          <p>
            {{ product.price | currency : "NGN" }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
