@use '@angular/material' as mat;

:root {
    @include mat.toolbar-overrides((container-background-color: orange,
            container-text-color: red,
        ));
}
.example-spacer {
    flex: 1 1 auto;
    background: orange;
}
